<!-- TabControl.razor -->
@typeparam TComponent

<div>
    <ul class="nav nav-tabs">
        @foreach (var tab in Tabs)
        {
            <BlazorTab TComponent="TComponent" Title="@(tab.Title)" IsActive="@(tab == ActiveTab)" OnClick="() => ActivateTab(tab)">
                @tab.ChildContent
            </BlazorTab>
        }
        <li class="nav-item">
            <button class="btn btn-primary" @onclick="AddTab">Add Tab</button>
        </li>
    </ul>
    <div class="tab-content">
        <BlazorTabContent>
            @ActiveTab?.ChildContent
        </BlazorTabContent>
    </div>
</div>

@code {

    private List<TabItem> Tabs = new List<TabItem>();

    private TabItem? ActiveTab { get; set; }

    private void AddTab()
    {
        var newTab = new TabItem
        {
            Title = $"Tab {Tabs.Count + 1}",
            ChildContent = builder =>
            {
                builder.OpenComponent(0, typeof(TComponent));
                builder.CloseComponent();
            }
        };

        Tabs.Add(newTab);
        ActivateTab(newTab);
    }

    private void ActivateTab(TabItem tab)
    {
        ActiveTab = tab;
    }

    private class TabItem
    {
        public string? Title { get; set; }

        public RenderFragment? ChildContent { get; set; }
    }
}
