@using BlazorComponents.Forms
@using BlazorUIComponents.Components.BlazorInputText

@page "/"

<h1>Blazor Form</h1>

<hr />

<main class="w-4">
</main>

<BlazorDialog Visibility="true">
    <Content>
        <CreateAddressForm></CreateAddressForm>
    </Content>
</BlazorDialog>

