@using BlazorComponents.Models.Common
@using BlazorComponents.Modules.ChartOfAccounts
@using Blazored.Modal.Services
@using BlazorComponents.Components
@using System.Reflection
@using System.Reactive.Linq

@page "/"

<BlazorWindowToolbar>
    <h3>Windows toolbar</h3>
</BlazorWindowToolbar>

@code {


}