@using BlazorComponents.Components.Common
@using BlazorComponents.Forms
@using BlazorComponents.Models.Common
@using BlazorComponents.ViewModels
@using BlazorUIComponents.Components.BlazorInputText
@using Blazored.Modal.Services
@using BlazorComponents.Components
@using System.Reflection

@page "/Grid"

<main class="p-5 flex justify-content-center">
    @* <BlazorTabControl TComponent="Type"></BlazorTabControl> *@
    @* <BlazorSwitch @bind-Value="@MyProperty"></BlazorSwitch> *@
    <div class="flex flex-column gap-4 align-items-center">
        <BlazorDataGrid DataRow="@Data" TData="object"></BlazorDataGrid>
        <BlazorPaginator TotalRecord="100"></BlazorPaginator>
    </div>
</main>

<BlazorDialog>
    <InputTextArea></InputTextArea>
</BlazorDialog>

@code {

    public bool MyProperty { get; set; } = true;

    List<object> Data = new();

    protected override void OnInitialized()
    {
        for (int i = 0; i < 15; i++)
        {
            Data.Add(new
            {
                نام = $" name {i}",
                فعال = i % 2 == 0,
        });
        }
    }
}