@using BlazorComponents.Forms
@using BlazorUIComponents.Components.BlazorInputText

@page "/"


<main class="p-5">

</main>



<BlazorDialog @bind-Visibility="@MyProperty">
        <BlazorDropdown 
            Options="@DatabaseOption" 
            Placeholder="Select Database">
        </BlazorDropdown>
        <hr />
        <CreateAddressForm></CreateAddressForm>
</BlazorDialog>


@code {
    public bool MyProperty { get; set; } = false;

    private List<object> DatabaseOption = new()
    {
        new
        {
            name = "SQL SERVER",
            code = "1",
        },
        new
        {
            name = "ORACLE",
            code = "2",
        },
    };
}