@using BlazorComponents.Components.Common
@using BlazorComponents.Forms
@using BlazorComponents.Models.Common
@using BlazorComponents.ViewModels
@using BlazorUIComponents.Components.BlazorInputText
@using Blazored.Modal.Services
@using BlazorComponents.Components
@using System.Reflection

@page "/"

<main class="p-5">
    <BlazorTabControl TComponent="Type"></BlazorTabControl>
</main>

<BlazorDialog>
    <InputTextArea></InputTextArea>
</BlazorDialog>

@code {

}