@using BlazorComponents.Components.Common
@using BlazorComponents.Forms
@using BlazorComponents.Models.Common
@using BlazorComponents.ViewModels
@using BlazorUIComponents.Components.BlazorInputText
@using Blazored.Modal.Services
@using BlazorComponents.Components
@using System.Reflection

@page "/"

@* @inherits BaseComponent<HomeViewModel> *@

<main class="p-5">
    <BlazorMenu Items="@Options"></BlazorMenu>
</main>

<BlazorDialog @bind-Visibility="@ShowDialog">
    <InputTextArea></InputTextArea>
</BlazorDialog>

@code {
    private List<MenuItem> Options = [
    new() { Label = "Add", Command = () => { Console.WriteLine("Add Record"); } },
    new() { Label = "Edit", Command = () => { Console.WriteLine("Edit Record"); }  },
    new() { Label = "Delete" , Command = () => { Console.WriteLine("Delete Record"); } },
    new() { Label = "Open" },
    new() { Label = "Go to Detail" , RouterLink = "https://google.com"},
    ];

    public bool ShowDialog { get; set; } = false;

    public void OpenDialog() => ShowDialog = true;

    protected override void OnInitialized()
    {
        this.Options.FirstOrDefault(o => o.Label == "Open")!.Command = () => OpenDialog();
    }
}