@using BlazorComponents.Components
@using BlazorComponents.Components.Common
@using BlazorComponents.Forms
@using BlazorComponents.ViewModels
@using BlazorUIComponents.Components.BlazorInputText
@using Blazored.Modal.Services

@page "/"

@inherits BaseComponent<HomeViewModel>

<main class="p-5 h-30rem">
    <div class="border-2 p-3 border-round shadow-5 border-300 h-full w-full">
        <CascadingValue Value="@Property1">
            <CascadingValue Value="@Property2">
                <ChildComponent></ChildComponent>
            </CascadingValue>
        </CascadingValue>
    </div>
</main>

@code {

    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    public string Property1 { get; set; } = "parent property";

    public string Property2 { get; set; } = "new parent property";

    protected override void OnInitialized()
    {
        this.ViewModel.OnViewModelInitialized();
    }
}