@using BlazorUIComponents.Components.Base
@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.JSInterop

@namespace BlazorUIComponents.BlazorWindowToolbar

@inherits DisposableBlazorComponent



@if (Visibility)
{
    <section style="@Style"
             class="@StyleClass blazor-window-toolbar blazor-window-toolbar-dispose">
        @ChildContent
    </section>
}

@code {

    [Inject] public IJSRuntime JsRuntime { get; set; } = null!;

    protected override void OnInitialized() => Visibility = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("import", "./_content/BlazorUIComponents/Components/BlazorWindowToolbar/BlazorWindowToolbar.razor.js");
        }
    }
}
