@using BlazorUIComponents.Components.Base

@inherits BlazorBaseInput

<div style="@Style" class="@StyleClass">
    <input placeholder="@Placeholder"
           type="search"
           class="border-1 border-300 border-round p-2" />
</div>

@code {

}
