

<div class="blazor-password">
    <input @oninput="OnInputChange"
           placeholder="@Placeholder"
           type="@(PasswordVisible ? "text" : "password")"
           @bind-value="Value" />
    <button @onclick="() => PasswordVisible = !PasswordVisible">
        @if (PasswordVisible)
        {
            <CrossEyeIcon></CrossEyeIcon>
        }
        else
        {
            <EyeIcon></EyeIcon>
        }
    </button>
</div>



@code {

    [Parameter] public string? Style { get; set; }

    [Parameter] public string? StyleClass { get; set; }

    [Parameter] public string? Value { get; set; }

    [Parameter] public string? Placeholder { get; set; }

    [Parameter] public string? Label { get; set; }

    private bool PasswordVisible { get; set; } = false;

    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    private void OnInputChange(ChangeEventArgs e)
    {
        Value = e.Value?.ToString();
        this.ValueChanged.InvokeAsync(Value);
    }
}
