

.blazor-dropdown {
    position: relative;
}

.blazor-dropdown-toggle {
    padding: 8px 12px;
    border: 1px solid #dedede;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blazor-dropdown-overlay {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 100;
    list-style-type: none;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #dedede;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.blazor-dropdown-overlay > li {
    border-bottom: 1px solid #dedede;
    margin: 0;
    padding: 4px 12px;
    cursor: pointer;
}

.blazor-dropdown-overlay > li:hover {
    background-color: #fafafa;
}