@namespace BlazorUIComponents.SheetedTabView


<section class="@(TabSheetManager.ActiveTab!.Key == Key ? "block" : "hidden")">
    <DynamicComponent Type="@Content" />
</section>

@code {


    [CascadingParameter] public TabSheetManager TabSheetManager { get; set; } = default!;

    [Parameter] public Guid Key { get; set; }

    [Parameter] public bool IsDefault { get; set; } = false;

    [Parameter] public string Title { get; set; } = null!;

    [Parameter] public Type Content { get; set; } = null!;

    [Parameter] public string? Icon { get; set; }
}