
@import "../primeflex/primeflex.min.css";
@import "../primeflex/themes/primeone-light.min.css";

@font-face {
    font-family: 'Google Sans';
    src: url("/Fonts/googleSans.woff2") format('woff2');

}

body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    transition: all 200ms ease-out;
    font-family: "Google Sans"
}

button {
    border: none;
    display: flex;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
}