@using BlazorUIComponents.Components.Base

@inherits BlazorComponent

<button 
    style="@Style"
    type="@Type"
    @onclick="OnButtonClicked" 
    class="@StyleClass blazor-button">
    @Value
</button>

@code {

    [Parameter] public string Type { get; set; } = "button";

    [Parameter] public string? Value { get; set; }

    [Parameter] public EventCallback OnClick { get; set; }


    private void OnButtonClicked()
    {
        this.OnClick.InvokeAsync();
    }
}
